// 主题颜色
$one:#4ddb9d;
$tow:#11a472f7;
// 浅主题色
$three:#5eb4a5;
// 首页背景色
$four:#cbebe6;
// 字体灰
$six:#666;

$svg:url("data:image/svg+xml,%3Csvg fill='white' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 453.43 244.86'%3E%3Cpath d='M452.45,103.13c2.89-2.61-1.26-6.65-4.15-4.27-6.92,5.68-13.84,11.35-20.76,17.03,.14-.27,.23-.56,.26-.84,.87-.76,1.73-1.53,2.6-2.29,1.65-1.46,.65-3.93-.98-4.76,15.78-12.38,4.15-5.22,19.4-18.26,2.47-2.11-.88-6.5-3.49-4.52-8.83,6.71-2.75,1.78-11.58,8.49,.57-.47,1.15-.94,1.72-1.41,2.35-1.92-.24-5.53-2.8-4.82-.47-.35-1.02-.58-1.62-.61,.99-2.79-2.51-5.9-4.72-3.27-.04,.05-.08,.09-.12,.14-.79-1.21-2.54-1.97-4.09-1.18-.43-.41-.96-.7-1.52-.8,.09-.09,.17-.17,.26-.26,.77-.77,1-1.61,.87-2.36,1.85-1.87,3.69-3.74,5.53-5.61,1.61-1.63,.65-4.19-1.03-4.99,.34-.37,.69-.75,1.03-1.12,2.11-2.29-.78-6.58-3.49-4.52-.3,.23-.61,.46-.91,.7,3.16-2.58,6.32-5.15,9.48-7.72,1.73-1.41,.69-3.89-.98-4.71,3.04-2.99,6.95-6.78,13.03-12.56,2.79-2.66-1.36-6.88-4.16-4.27-4.87,4.53-6.88,6.43-7.98,7.51-.4-.82-1.19-1.47-2.1-1.67,.85-.88,1.71-1.76,2.56-2.64,1.35-1.39,.73-3.54-.56-4.53,.47-.41,.93-.82,1.39-1.22,1.71-1.5,.67-3.96-1.04-4.72,.49-.36,.97-.71,1.46-1.07,.86-.63,1.23-1.49,1.25-2.35,5.58-4.15,2.34-2.68,7.92-6.83,2.93-2.18,.12-7.16-2.91-4.97-8.8,6.38-14.03,10.47-20.24,15.19-.66-.55-1.53-.83-2.42-.66l12.84-9.47c2.92-2.15,.27-7.03-2.91-4.97-.8,.52-1.59,1.04-2.39,1.56-.73-.28-1.54-.25-2.3,.34-2.01,1.57-4.02,3.14-6.02,4.71,1.32-2.54-2.24-5.5-4.83-3.39-4.6,3.75-9.2,7.49-13.8,11.24,.09-.38,.11-.77,.04-1.16,1.21-1.24,2.43-2.48,3.64-3.73,2.76-2.83-1.25-6.59-4.15-4.27l-8.96,7.17c1.56-2.81-1.93-5.94-4.6-3.63-2.25,1.95-4.5,3.9-6.75,5.84-.32-.81-.97-1.45-1.76-1.72l2.83-3.12c2.19-2.41-.75-6.83-3.56-4.75-7.17,5.31-14.34,10.62-21.5,15.93-.4-.47-.91-.82-1.48-.99,4.71-3.32,9.41-6.64,14.12-9.95,3.17-2.24,.47-6.78-2.97-5.22-2.57,1.17-5.14,2.34-7.71,3.51-.52-1.33-2.08-2.3-3.61-1.85,.98-1.33,.72-2.82-.12-3.79,.12-.2,.24-.4,.36-.6,1.72-2.92-2.33-6.2-4.61-3.66-5.41,6.01-10.82,12.03-16.22,18.04-.56-1.95-2.89-3.25-4.77-1.35-3.25,3.29-6.51,6.57-9.76,9.86,.52-.93,1.05-1.86,1.57-2.78,.91-1.62,.05-3.41-1.27-4.2,.54-2.27-1.89-4.98-4.15-3.29-.25,.19-.5,.38-.76,.57-.63-1.81-2.98-3.03-4.7-1.23-1.67,1.75-3.35,3.5-5.02,5.26-.25-.28-.53-.52-.85-.69,6.2-6.51,12.35-13.07,18.43-19.7,2.23-2.43-.68-6.69-3.56-4.74-4.35,2.94-8.67,5.93-12.96,8.94-.74-1.23-2.31-1.94-3.76-1.08,6.27-6.65-1.91,2.07,4.36-4.58,2.55-2.7-1.42-6.69-4.07-4.07-5.97,5.9-10.84,10.62-15.22,14.82-.56-1.93-3.07-3.33-4.93-1.48l-7.85,7.83c-.32-1.07-1.21-1.92-2.28-2.16,3.41-2.63,6.81-5.26,10.22-7.89,2.97-2.3,.14-7.51-2.97-5.22-1.14,.85-2.29,1.69-3.43,2.54-.36-1.52-1.73-2.78-3.46-2.09-.75,.3-1.49,.6-2.24,.9-1.02,.41-1.59,1.2-1.81,2.06-8.89,7.15-17.78,14.31-26.67,21.46-.32-.08-.66-.1-1-.03,5.03-4.32,10.06-8.65,15.09-12.97,1.41-1.21,.99-3.16-.12-4.31,1.52-2.58-2.07-5.78-4.56-3.43-2.44,2.31-4.88,4.61-7.32,6.92-.57,.07-1.15,.33-1.68,.87-2.1,2.12-4.19,4.24-6.29,6.37-.03-.06-.07-.1-.1-.16,1.94-1.94,3.89-3.88,5.83-5.82,2.64-2.63-1.37-6.61-4.07-4.07-3.71,3.48-7.41,6.96-11.12,10.44-.33-.21-.69-.35-1.1-.39-.74-.32-1.62-.32-2.5,.2-1.33,.8-2.65,1.61-3.98,2.42-.18-.23-.41-.43-.65-.61,6.44-7.41,12.69-15,18.69-22.79,0,0,.02-.02,.02-.02,0,0,0,0,0,0,.15-.2,.3-.38,.45-.58,2.08-2.71-2.22-5.57-4.52-3.49-8.57,7.75-13.97,12.75-19.01,17.44-5.34,4.36-7.58,5.55-10.69,7.51,2.32-2.82,4.96-5.9,10.93-11.89,2.27-2.27-.72-6.37-3.49-4.52-3.55,3.28-6.41,6.01-8.77,8.33-.14-.42-.37-.8-.67-1.13,1-.93,2-1.85,3-2.78,2.51-2.36-.71-6.42-3.56-4.75-7.6,4.47-15.14,9.03-22.66,13.64,.47-.55,.9-1.03,1.24-1.43,1.22-1.43,8.56-7.77,10.22-9.69,2.49-2.74-1.35-6.62-4.07-4.07-1.09,1.02-2.17,2.03-3.26,3.05-.92-.94-2.35-1.38-3.49-.52-3.39,2.56-6.74,5.16-10.09,7.77,0-.02,0-.04,0-.06,1.54-1.28,3.08-2.55,4.63-3.83,2.66-2.2-.72-5.9-3.49-4.52-5.34,2.66-10.61,5.43-15.83,8.3,.8-.68,1.6-1.36,2.4-2.04,2.56-2.18-.85-6.74-3.56-4.75l-13.61,10.02c-.62,.03-1.25,.27-1.81,.83-.66,.65-1.33,1.31-1.99,1.96l-4.81,3.54c0-.82-.27-1.63-.74-2.25,.49-.64,.58-1.42,.4-2.16l5.23-3.7c1.36-.96,1.58-2.48,1.13-3.7,2.17-2.14-1.05-6.18-3.65-4.35-1.52,1.06-3.04,2.13-4.56,3.19-.27-1.87-2.29-3.65-4.08-2.66-.69-1.39-2.44-2.34-4.07-1.39-.96,.56-1.91,1.15-2.86,1.72,.75-.68,1.5-1.35,2.25-2.03,2.91-2.62-1.24-6.59-4.15-4.27-1.51,1.2-3.01,2.39-4.51,3.59-.8-1.39-2.49-2.27-3.99-1.17-5.78,4.24-11.55,8.48-17.33,12.72l2.83-2.56c.37-.34,.6-.73,.74-1.13,2.68-2.45,5.36-4.9,8.04-7.35,2.85-2.6-1.31-6.8-4.15-4.27-1.98,1.75-3.96,3.51-5.93,5.26-.98-1.27-2.96-1.95-4.57-.66-4.15,3.31-8.31,6.63-12.46,9.94-.12-.24-.27-.45-.44-.66,2.34-3.06,4.68-6.12,7.02-9.18,1.87-2.44-.68-7.01-3.56-4.75-2.63,2.07-5.27,4.15-7.9,6.22,.95-1.94-.8-4.4-2.86-4.31,1.94-1.74,3.89-3.48,5.84-5.22,2.51-2.25-.8-6.67-3.56-4.75l-22.18,15.44c3.36-3.79,6.71-7.58,10.07-11.37,2.14-2.42-.74-6.85-3.56-4.75-4.86,3.62-9.72,7.24-14.59,10.85-1.01-1.24-2.85-1.78-4.29-.31l-12.4,12.76c-2.3,2.37,.8,6.8,3.56,4.75l7.91-5.88c-2.52,2.84-5.03,5.68-7.55,8.52-2.16,2.44,.68,6.75,3.56,4.75,2.64-1.84,5.29-3.68,7.93-5.52-.02,.87,.38,1.73,1.01,2.35-5.39,5.09-8.52,7.6-17.22,16.44-1.27,1.29-1.04,2.79-.15,3.76-1.49,1.4-2.98,2.79-4.47,4.19-2.44,2.28,.89,6.85,3.56,4.75,1.21-.95,2.41-1.9,3.62-2.85,.29,1.99,2.54,3.84,4.42,2.4,3.61-2.78,7.22-5.57,10.83-8.35,.25,.62,.7,1.15,1.25,1.51-1.02,.97-2.03,1.93-3.05,2.9-1.53,1.46-.79,3.62,.68,4.52-1.74,1.54-3.48,3.09-5.22,4.63-1.78,1.58-.61,4.3,1.19,5.04,.15,.27,.36,.51,.59,.72-4.94,3.82-9.88,7.64-14.82,11.46-2.59,2.01,.79,6.31,3.49,4.52,6.38-4.23,12.75-8.47,19.13-12.7-.72,.65-1.45,1.31-2.17,1.96-.66,.59-.89,1.34-.85,2.09-4.58,4.04-9.16,8.09-13.75,12.13-.56,.49-.81,1.1-.86,1.72-1.36,1.15-2.71,2.31-4.07,3.46-2.48,2.11,.89,6.51,3.49,4.52,2.38-1.82,4.76-3.64,7.14-5.47,.56,.07,1.18-.08,1.82-.53,2.19-1.55,4.38-3.1,6.57-4.65-1.21,1.2-2.41,2.42-3.61,3.63-6.51,5.06-13.03,10.12-19.54,15.19-1.99,1.54-1.35,4.38,.19,5.41-.02,.02-.04,.04-.06,.06-2.15,2.42,.73,6.83,3.56,4.75,6.67-4.91,13.35-9.83,20.02-14.74-.09,.15-.18,.3-.27,.45-.96,1.57-.11,3.32,1.19,4.14-1.93,2.09-3.85,4.19-5.75,6.31-8.67,7.6-17.35,15.2-26.02,22.8-2.84,2.49,1.23,6.34,4.07,4.07,3.25-2.6,6.51-5.19,9.76-7.79,.18,.15,.37,.28,.57,.38-16.1,12.99-4.23,5.48-19.8,19.16-2.52,2.22,.9,6.82,3.56,4.74,9.01-7.04,2.8-1.86,11.81-8.91-.58,.49-1.17,.98-1.75,1.48-2.61,2.2,.77,6.53,3.56,4.75,2.2-1.41,4.39-2.83,6.58-4.26,.43,1.02,1.45,1.8,2.6,1.86-.13,.37-.18,.74-.16,1.1-.86,.71-1.71,1.43-2.57,2.14-2.96,2.47,1.22,6.63,4.15,4.27,.04-.03,.08-.07,.13-.1,.2,.51,.51,.95,.89,1.28-.09,.09-.18,.19-.28,.28-1.67,1.71-.86,3.75,.68,4.59-.1,.14-.2,.29-.3,.44-.69,.51-1.3,1.31-1.79,2.47-.04,.1-.08,.21-.11,.32-.51,.74-1.01,1.49-1.52,2.23-.31,.45-.45,.91-.48,1.35-1.01,1.12-2.01,2.25-3.02,3.37-2.16,2.41,.8,6.91,3.56,4.74,.31-.24,.62-.49,.93-.73-3.22,2.7-6.45,5.41-9.67,8.11-1.88,1.58-.55,4.44,1.35,5.1-.18,.27-.29,.56-.37,.84-1.36,1.27-2.84,2.64-4.5,4.18-2.56,2.37,.84,6.04,3.53,4.47,.38,.93,1.23,1.68,2.22,1.91-.87,.92-1.74,1.84-2.61,2.77-1.38,1.46-.74,3.71,.57,4.75-.47,.43-.95,.86-1.42,1.28-1.75,1.58-.69,4.16,1.06,4.95-.5,.37-.99,.75-1.49,1.12-.88,.66-1.25,1.56-1.28,2.46-5.69,4.36-2.39,2.81-8.08,7.17-2.99,2.29-.12,7.52,2.97,5.22,10.46-7.8,15.97-12.34,23.88-18.46-.57,.48-1.14,.96-1.7,1.43-.96,.81-1.04,1.97-.63,2.97l-11.53,8.75c-2.98,2.26-.28,7.37,2.97,5.22,6.65-4.42,13.27-8.9,19.86-13.41,1,.57,2.33,.64,3.46-.26,4.51-3.57,9.02-7.14,13.53-10.71-.09,.36-.11,.74-.04,1.11-1.19,1.18-2.38,2.37-3.57,3.55-2.71,2.7,1.23,6.28,4.07,4.07l4.62-3.59c1.03,1,2.71,1.34,4.09,.09l.3-.27c.92,1.19,2.74,1.7,4.28,.4,1.26-1.06,2.53-2.13,3.79-3.19-.91,1.19-1.84,2.38-2.74,3.58-2.27,3.01,1.28,6.97,4.15,4.27,.36-.34,.71-.67,1.07-1.01,.79,.52,1.79,.62,2.79-.1,3.93-2.83,7.87-5.67,11.8-8.5,.31,.38,.7,.67,1.14,.83-1.42,.97-2.84,1.94-4.26,2.92-3.11,2.13-.46,6.46,2.91,4.97,3.89-1.72,7.77-3.44,11.66-5.16l-8.56,8.6c-2.74,2.75,1.32,6.81,4.16,4.27,1.11-.99,2.22-1.98,3.33-2.98,.56,1.9,3.16,3.15,4.82,1.36,4.93-5.33,9.87-10.67,14.8-16,.74,.74,1.8,1.12,2.86,.79,.89,.36,1.96,.25,2.92-.69,3.19-3.13,6.38-6.26,9.56-9.39-.51,.88-1.03,1.77-1.54,2.65-.14,.23-.22,.47-.28,.71-.34,.38-.67,.76-1.01,1.14-2.54,2.88,1.59,7.16,4.15,4.27,2.64-2.97,5.27-5.94,7.91-8.91,.23,.14,.47,.27,.71,.39-4.43,4.62-8.84,9.25-13.19,13.95-2.22,2.39,.8,6.87,3.56,4.75,.26-.2,.51-.4,.77-.6,.15,.46,.41,.88,.73,1.23-1.67,1.75-3.34,3.49-5,5.25-2.18,2.32,.67,6.37,3.49,4.52,6.97-4.58,13.87-9.27,20.71-14.05-3.62,3.93-7.36,8.06-10.75,12.19-2.23,2.71,.84,6.38,3.5,4.77-6.4,6.98,1.95-2.17-4.45,4.8-2.6,2.83,1.45,7.02,4.16,4.27,13.56-13.77,21.57-21.46,30.83-30.54,.43,.59,1.05,1.03,1.77,1.19-3.34,2.51-6.68,5.01-10.02,7.52-2.91,2.19-.14,7.16,2.91,4.97,1.56-1.12,3.11-2.24,4.67-3.36,.63,1.42,2.54,2.32,4.24,1.43-2.25,2.35-4.49,4.71-6.74,7.06-1.91,2.01,0,6.24,2.86,5.05,.76-.32,1.52-.63,2.29-.95,1.32-.55,1.92-1.73,1.96-2.92,4.49-4.7,8.97-9.4,13.46-14.1,.82,1.25,2.42,2.02,3.82,.98,2.02-1.5,4.05-3,6.07-4.5,.59,.55,1.39,.86,2.21,.76-4.07,4.19-8.14,8.39-12.2,12.58-2.68,2.77,1.4,6.95,4.15,4.27,7.25-7.04,14.49-14.09,21.74-21.13,.05,.04,.1,.07,.15,.1-4.04,4.15-8.08,8.3-12.12,12.45-2.69,2.76,1.4,6.94,4.15,4.27,7.18-6.93,14.35-13.86,21.53-20.79,.51-.07,1.02-.27,1.49-.64,2.31-1.82,4.61-3.63,6.92-5.45,.01,.04,.02,.08,.04,.13-12.49,11.26-.73,1.22-14.95,13.99-1.8,1.62-.74,3.83,.99,4.55-5.26,6.36-10.39,12.85-15.35,19.48,0,0-.02,.02-.02,.02,0,0,0,0,0,0-.15,.2-.31,.4-.46,.61-2.12,2.85,2.27,5.85,4.61,3.66,14.8-13.77,20.35-19.28,30.49-28.88-.2,.73-.06,1.46,.32,2.07-2.51,3.14-5.13,6.38-11.65,13.11-2.31,2.39,.73,6.69,3.56,4.74,5.33-5.05,9.13-8.87,12.03-11.89,3.37-1.94,6.73-3.89,10.09-5.85-2.77,2.91-6.15,7.02-4.34,8.26,1.67,2.57,10.05-5.63,13.88-8.81,4.48-3.72,6.92-5.26,8.64-6.34,5-3.15-5.05,8.35-8.22,12.18-1.25,1.51-8.73,8.16-10.43,10.17-2.54,2.88,1.38,6.94,4.15,4.27,1.11-1.07,2.22-2.13,3.32-3.2,.94,.98,2.4,1.45,3.56,.54,3.85-2.99,7.66-6.03,11.45-9.08-1.96,1.67-3.93,3.34-5.89,5.01-2.71,2.31,.74,6.19,3.56,4.75,9.55-4.89,18.91-10.13,28.08-15.68-.42,2.48,2.77,4.96,4.98,2.71,.97-.99,1.94-1.98,2.92-2.96,1.83-1.1,3.66-2.21,5.47-3.33-.82,.64-1.63,1.29-2.45,1.93-2.03,1.6-.27,4.75,1.84,4.99-2.27,1.94-4.54,3.87-6.81,5.81-2.56,2.19,.83,6.71,3.56,4.75,2.83-2.04,5.66-4.08,8.49-6.11,.37,.66,1.01,1.19,1.78,1.46-.29,.27-.58,.54-.87,.81-2.52,2.34,.72,6.45,3.56,4.75,4.41-2.65,8.74-5.42,13.01-8.28,.07,.1,.16,.2,.24,.3,.04,2.08,2.89,3.94,5,2.11,1.94-1.67,3.88-3.34,5.82-5.01,.96,1.21,2.9,1.86,4.48,.63,1.37-1.06,2.74-2.13,4.12-3.19,.78,.51,1.79,.6,2.81-.13,1.05-.75,2.1-1.5,3.15-2.25-1.44,1.83-2.88,3.65-4.31,5.48-1.83,2.33,.67,6.68,3.49,4.52,2.58-1.98,5.16-3.95,7.74-5.93-.93,1.85,.79,4.19,2.8,4.11-1.91,1.66-3.81,3.32-5.72,4.97-2.46,2.14,.78,6.35,3.49,4.52l21.73-14.71c-3.29,3.61-6.58,7.22-9.87,10.83-2.1,2.31,.72,6.52,3.49,4.52,4.77-3.45,9.53-6.89,14.3-10.34,.99,1.18,2.8,1.7,4.2,.29l12.15-12.16c2.25-2.25-.78-6.48-3.49-4.52l-.31,.22c3.38-3.19,6.8-6.43,13.02-12.91,2.71-2.83-1.28-6.69-4.15-4.27-3.44,2.89-6.89,5.78-10.33,8.67,.04-.13,.08-.26,.13-.39,.78-2.4-2.22-4.97-4.32-3.41-1.43,1.06-2.86,2.13-4.29,3.19,.91-.81,1.82-1.62,2.73-2.44,.6-.53,.86-1.18,.88-1.84,5.15-4.69,10.3-9.38,15.44-14.07,2.39-2.17-.88-6.52-3.49-4.52-1.18,.9-2.36,1.81-3.54,2.71-.17-1.13-1.03-2.21-2.08-2.61,.77-1.57-.4-3.61-2-4.18,5.54-4.41,11.09-8.83,16.64-13.24,2.65-2.11-.8-6.63-3.56-4.75-6.24,4.26-12.49,8.53-18.73,12.79-.05-.02-.1-.05-.15-.07-.37-.66-1.06-1.14-1.86-1.37,7.78-6.81,15.57-13.63,23.35-20.44,2.53-2.21-.91-6.83-3.56-4.75-4.83,3.81-9.67,7.62-14.51,11.42,1.59-1.37,3.18-2.73,4.77-4.1,.98-.84,1.04-2.04,.59-3.05,1.79-1.65,3.59-3.31,5.38-4.96,.83-.77,1.06-1.66,.91-2.47,1.99-1.73,3.98-3.47,5.98-5.2,2.36-2.06-.48-6.22-3.03-5.07-.24-.59-.64-1.11-1.14-1.43,.02-.02,.04-.04,.06-.06,2.1-2.31-.71-6.51-3.49-4.52-3.03,2.17-6.07,4.34-9.1,6.51,.69-.78,1.39-1.56,2.08-2.35,8.85-7.98,17.7-15.96,26.55-23.93Zm-40.38-2.6c-1.13,.77-2.26,1.52-3.38,2.29-.7,.43-1.39,.86-2.09,1.29,2.01-2.19,4.03-4.39,6.04-6.58,2.06-1.67,4.12-3.34,6.18-5.01-2.25,2.67-4.5,5.34-6.75,8.01Z'/%3E%3C/svg%3E");

//渐变
 // linear-gradient(to right,$one,$tow)

/* 设置滚动条的样式 */
::-webkit-scrollbar {
    width: 10px;
}
 
/* 滚动槽 */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

@media (min-width: 1200px) {
    uni-tabbar.uni-tabbar-bottom {
        position: initial;
        display: none;
    }

    uni-page-head {
        display: none;
    }

    uni-page-wrapper {
        height: 100% !important;
    }

    body {
        height: 100%;
    }

    uni-page-body {
        max-width: 71.25rem;
    }
}

.flex_c {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.flex_sb {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}





p {
	img {
		width: 100%;
	}
}

img,image {
	width: 100%;
}


/* --------------------------------------------------------------------------------------------- */
// 登录页面
// 登录背景
.account_login.container{
	min-height:100vh;
	height:auto !important;
}
.account_login.container,.forgot_account.container{ 
   background-color: #bdede469 !important;
   background-image: url("https://pic2.zhimg.com/v2-b2442a5f5f5ba5ac3ff090f81748af73_r.jpg") !important;
   background-size: 100% !important;
 }
 // 登录框
   .account_login.container .wrapper{
	   background:  transparent  !important;
	   width:80%;
	   // margin: 10px auto;
	   position: relative;
	   top: 0px;
	   left: 40px;
   }
.account_login .input-content{
	width: 100%;
	padding: 0px !important;
} 

// 标题
.top-sign-title {
		// display: none;
	   // background-color:$one ;
	   color:#46d498 ;
	   text-align: center;
	   font-size: 23px;
	   font-weight: 600;
	   // border-bottom: 2px dashed #fd9191;
	   padding-bottom: 10px;
	   margin-bottom: 30px;
   }
   
// login 英文字母
   .left-top-sign{
	display: none;
   	color: $one !important;
   	left: 0 !important;
	// border-bottom: 2px solid $one;
	font-size: 50px !important;
	position: absolute;
	top: -56px;
	left: 80px !important;
   }
   
   
   // 修饰线			
   .container.account_login .left-top-sign::after{
		// display: none;
		color: #a29f9f;
		content: '欢迎登录账号';
		font-size: 16px;
		position: absolute;
		top: 75px;
		left: 28px;
	}
   

   
   // 装饰
.right-top-sign::before,.right-top-sign::after{
	width: 0 !important;
}
// 装饰
.container .left-bottom-sign{
	border: none !important;
}
// 输入框
.input-content{
	margin-top: 10px;
}
// 用户名输入框
.input-item{
	background-color:#fff !important;
	flex-direction: row !important;
	height: 50px !important;
	padding: 0 !important;
	line-height: 50px !important;
	border: 1px solid #eee;
}
.account_login .input-item .tit{
	display: none;
}
.account_login .input-item{
	padding-left:10px !important;
}
// 用户名字段
.input-item .tit{
	width: 35% !important;
	padding-left:5px;
	height: 50px !important;
	// padding: 0 !important;
	line-height: 50px !important;
}
.input-item .uni-input-wrapper{
	height: 50px !important;
	// padding: 0 !important;
	line-height: 50px !important;
}
// 登录按钮
 page .container .confirm-btn{
	// background-color:#00bbf0;
	color: #fff !important;
	width: 100%;
	// border-radius: 0;
	font-size: 14px;
}
.confirm-btn::after{
	border: none !important;
}
.input-item .tit:after{
	content: ':';
}
.uni-input-placeholder{
	font-size: 13px;
	
}
// 人脸识别
.face-login{
	position: relative;
	// top: 400px;
	display: flex;
	    // height: 200px;
	    width: 90%;
		background-color: #fff !important;
		padding: 10px;
		flex-direction: column;
		align-items: center;
}
.face-login button{
    width: 59%;
    height: 40px !important;
    margin-bottom: 10px;
}
.face-camera{
	// height: 100px;
	// width: 30%;
}
#canvasElement{
	height: 50px !important;
}
.btn_add_img text{
	font-size: 40px;

}
.face-login .uni-video-cover-play-button,.face-login .uni-video-cover-duration{
	display: none ;
}
.face-img{
	width: 80% !important;
}
// 忘记密码按钮
.forget-section{
    margin-left: 1px;
    width: 100%;
    height: 35px;
    line-height: 31px;
    font-size: 14px !important;
    border: 1px solid #46d498;
    border-radius: 50px;
	navigator{
		color: $one !important;
	}
}
// 还没有账号
.account_login .register-section{
	
// top: 395px;
//     color: #222 !important;
//     height: 40px;
//     line-height: 40px;
//     width: 60% !important;
//     left: 180px !important;
//     z-index: 9999;

}
.input-item uni-input{
	height: 50px !important;
}

// 忘记密码页面
.forgot_account.container .wrapper{
		   background:  transparent !important;
		   width:100%;
		   position: absolute;
		   top: 100px;
	.confirm-btn{
		width: 80%;
	}
}


// 发送按钮
.forgot_account .btn_send{
	background-color:$one !important;
		color: #fff !important;
		
}

// 立即注册按钮
.forgot_account .register-section{
	position: absolute;
	top:510px;
	// background-color:#ff4c3b ;
	// color: #fff !important;
	// height: 40px;
	// line-height: 40px;
	// width: 60% !important;
	left: 0px !important;
 //    border-radius: 30px !important;
}

// 注册页
#account_register{
	// background-image:url("/static/img/body_bg.jpg" ) !important;
	// background-size: 100% 100% !important;
}
// uni-page-wrapper{
// background-color: #77c9d4 !important;	
// }
#account_register .mm_container .row .register_view{
 background: transparent  !important;
	width:100%;
	
}
/* 注册页 头部 ‘注册’ 框 */
#account_register .title {
	/* 行内元素转块级元素 */
	display: none !important;
	/*字体 颜色 */
	color: #222 !important;
	/* 内 下边距 */
	padding-bottom: var(--padding_mini) !important;
	/* 下边框 */
	border-bottom: 1px solid var(--color_dark) !important;


	text-align: center;
	
}

/* 注册页-注册页内 '立即注册'按钮样式 */
#account_register .btn_register {
    text-align: center !important;
    margin: 10px auto !important;
    width: 94%;
    background:linear-gradient(to right,$one,$tow);
    color: #fff !important;
    border-radius: 23px !important;
}

#account_register  .diy_title{
	width: 4.0625rem !important;
}

/* 注册页-注册页内 '返回登录、忘记密码' 盒子样式 */
#account_register .btn_all {
	/* 盒子内子元素浮动 */
	display: flex;
	/* 盒子内子元素左右居中摆放  'space-between 左右摆放'*/
	justify-content: space-around;
	/* 内边距 */
	/* padding: 10rpx 10rpx 10rpx 10rpx; */
	/* 外边距 */
	/* margin: 10rpx 10rpx 10rpx 10rpx; */
	color: #222 !important;
	font-size: 14px !important;
	align-content: space-around ;
		flex-direction: row;
		text-align: center;
		width: 68%;
		margin: 5px auto;
		navigator{
			color: $one !important;
		}
}

// 注册页用户名
.uni-forms-item__inner .uni-forms-item__label{
	  color: #606266 !important;
	  
  }
  .uni-forms-item__inner .uni-forms-item__label::after{
	  content: ':';
  }
  #account_register  .is-required{
	  display: none;
  }
  #account_register .diy_title{
  	color: #606266;
		line-height: 30px ;
  }
  #account_register .diy_text{
	  border: 1px solid #e5e5e5;
	  width: 70%;
  }
  #account_register .diy_field{
 
  	  width: 75%;
  }
  #account_register  .diy_down{
	  padding-left: 0px !important;
	  width: 78% !important;
  }
  #account_register .uni-forms-item{
	  // background-color: #f1f1f1 !important;
  }
  // 忘记密码
  .btn_send{
	  background-color: #d8c5c6  !important; 
  }
  // 首页
  
 .home--new .swiper{
	 height: 250px !important;
	 
 }
  #home  .menu_list{
	  margin-top: 10px;
	 background-color: #fff !important;
	 justify-content: space-evenly;
 }
 .menu_list .item_menu {
	 width: 15%;
 }
.menu_list .item_menu .menu image {
 	       opacity: 0; 
		   // // margin-right: 10px;
		   // position: relative;
		   // left: 15px;
 	   }   
 .menu_list .item_menu .name{
	       color: #222;
	       font-size: 13px !important;
	       border-radius: 10%;
	       width: 66px;
	       display: inline-block;
	   } 
.menu_list .item_menu:nth-child(1)  {
   background: url("/static/img/tab_1.png") top center no-repeat !important;
   background-size:100% !important;
  
 }
.menu_list .item_menu:nth-child(2) {
   background: url("/static/img/tab_2.png") top center no-repeat !important;
   background-size: 100% !important;
 }
.menu_list .item_menu:nth-child(3)  {
   background: url("/static/img/tab_9.png") top center no-repeat !important;
   background-size: 100% !important;
 } 
 .menu_list .item_menu:nth-child(4)  {
   background: url("/static/img/tab_6.png") top center no-repeat !important;
   background-size: 100%!important;
 }
.menu_list .item_menu:nth-child(5)  {
   background: url("/static/img/tab_5.png") top center no-repeat !important;
   background-size: 100% !important;
 } 
 #home .menu_list .item_menu:nth-child(6)  {
   background: url("/static/img/tab_3.png") top center no-repeat !important;
   background-size: 100% !important;
 }
 #home .menu_list .item_menu:nth-child(7)  {
   background: url("/static/img/tab_7.png") top center no-repeat !important;
   background-size: 100% !important;
 }
 #home  .menu_list .item_menu:nth-child(8)  {
   background: url("/static/img/tab_4.png") top center no-repeat !important;
   background-size: 100% !important;
 }
  
 #home  .menu_list .item_menu:nth-child(9)  {
   background: url("/static/img/tab_8.png") top center no-repeat !important;
   background-size: 100% !important;
 }
  #home  .menu_list .item_menu:nth-child(10)  {
    background: url("/static/img/tab_10.png") top center no-repeat !important;
    background-size: 100% !important;
	
  }
  #home  .menu_list .item_menu:nth-child(11)  {
    background: url("/static/img/tab_11.png") top center no-repeat !important;
    background-size: 100% !important;
  }
  #home  .menu_list .item_menu:nth-child(12)  {
    background: url("/static/img/tab_4.png") top center no-repeat !important;
    background-size: 100% !important;
  }
 
 // 首页新闻模块

#home .card-title {
	font-weight: 600 !important;
    color: $tow !important;
    padding: 5px 10px;
    background-color: $four;
}

#home .card-title .more{

 }
  #home .article_list .item,
  #article_list .item{
	  width:100%;
	border: 1px solid $four;
	background-color: #fff;
	margin-bottom: 10px;
	
  }
  
  // 图片
#home .uni-card .item .image,
#article_list .item .image{
	
	 margin-right: 10px;
	 width:98% !important;
	 height: 109px !important;
  }
  #home .uni-card .item .right_block{
	 // padding-right: 15px;
	 width: 100% !important;
	 min-width: 70% !important;
  }
  // 标题
  #home .uni-card .item .top_info,
  #article_list .item .top_info{
	  margin-top: 5px;
	  color: #222;
  }
  // 时间
  #home .uni-card .item .mid_info ,
  #article_list .item .mid_info{
	  margin-top: 5px;
	  font-size: 0.6rem !important;
  }
.box_wrap .view {
			margin-bottom: 5px;
			flex-direction: row;
			    flex-wrap: wrap;
				flex-direction: column;
		}

	 // 商城模块
	 .list_goods .goods_item .bottom .icon_cart{
		 color: $six !important;
	 }
	 .list_goods .goods_item .bottom .price{
		  color: red !important;
		  margin-left: 128px;
	 }
	 
	 
	 .sales{
		 display: none;
	 }
	 
	 // 商品的文字
	.sales + view{
		// background-color: red;
		border-top: 1px dotted #17a675;
		    padding-top: 10px;
		display: flex;
		justify-content: space-evenly;
		flex-direction: column;
		align-items:center;
	}
	 
	#goods_details .bar_title .title{
		color: #655f5f;
	}
	// 购物车
.support_module .button-area{
	justify-content: center !important;
}
.bar_settle .choose_btn.active{
	color: #ff4c3b !important;
}
.list_cart .choose_btn.active .btn_circle{
	background-color:#ff4c3b !important ;
}
.bar_settle .choose_btn.active .btn_circle{
	background-color:#ff4c3b !important ;
}
	.bar_settle .btn_settle{
background-color: #ff4c3b !important;		
	}
	.item_order .state,#order_details .state{
		color:  #ff4c3b !important;
	}
	 // 自定义模块
	 .list_diy .uni-card__content {
		 // border: 3px solid #77c9d4;
		 // border-bottom: 12px solid $one;
		 //  border-top: 12px solid $one;
		 // border-radius: 20px;
		 // background-color: #77c9d4;
	 }
	 .pay_model button{
		 background-color: #ff4c3b !important;
	 }
	.box_wrap{
			
			margin-top: 5px;
			padding: 0 15px;
	 }
	 .card-title .more{
			background-color: $tow;
		     padding: 2px;
		     border-radius: 5px;
			 color: #fff !important;
	 }
	 
	 // 定制商品边框线
	#home .list_com--new .box_wrap .box_style{
		margin-bottom: 40px;
		border: 0px solid #d5d5d6 !important;
		// border: 1px dotted $tow !important;
		
		// ui样式
		   background: $one;
		            min-width: 300px;
		            min-height: 150px;
		            width: 200px;
		            margin-left: 4px;
		            margin-top: 50px;
		            border-image-slice: 50 50 50 50 fill !important;
		            border-image-width: 25px 25px 25px 25px !important;
		            border-image-outset: 20px 20px 20px 20px !important;
		            border-image-repeat: repeat repeat !important;
		            border-image-source: $svg !important;
		            border-style: solid;
	}
	
	.diy_list  .warp .row{
		// width: 80%;
		margin: 28px auto;
		border: 1px solid #bee1d8 !important;
	}
	.list_orderby .bar_orderby{
		background-color: $four !important;
	}
	.diy_list .warp  .container{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
	.diy_list .warp .row{
		width: 44% ;
	}
	#home .list_com--new .box_wrap .box_style:nth-child(even){
		// margin:5px auto !important;
	}
	.list_com--new .box_wrap .box_style .image,.diy_list .warp .row .diy_img{
		height: 130px;
		width: 100%
	}
	.list_com--new .box_wrap .box_style .image img,
	.list_com--new .box_wrap .box_style .image image,
	.diy_list .warp .row  .diy_img img,
	.diy_list .warp .row .diy_img image{
		height: 100% !important;
			width: 100%;
			}
	.list_com--new .box_wrap .box_style .view ,.diy_list .warp .row .view{
		// display: flex;
		//     flex-direction: column;
		//     align-items: center;
		
	}
	.list_com--new .box_wrap .box_style .view .diy_field,.diy_list .warp .row .view .diy_field{
		border: none;
		margin-top: 0px !important;
		margin-left: 0px !important;
	}
	.list_com--new .box_wrap .box_style .view .title,.diy_list .warp .row .view .diy_title{
		color: #222 !important;
		font-weight: 400 !important;
		// background-color: $one !important;
		font-size: 14px !important;
		margin-right: 3px !important;
	}
	.list_com--new .box_wrap .box_style .view .title::after{
		content: ':';
	}
	.diy_list .warp .row .view .diy_title::after{
		content: ':';
	}
	.diy_list .warp .row .diy_dj .diy_title::after{
		display: none;  
	}
	.diy_list .warp .row .view .diy_time{
		color: #015249 !important;
		font-size: 12px !important;
	}
	
	.copyright{
		color: #222;
		text-align: center;
	}
// 自定义模块列表页 定制商品首页更多点进去
   /* 列表样式 */
  
.diy_list  .warp {
		
	 }
	 .uni-searchbar{
		 background-color: #fff !important;
	 }
	.diy_list  .btn-primary{
			background-color: #ff4c3b !important;
			color: #fff !important;
		}
	.diy_list .wt-tabs__container{
	
	}
	.diy_list .wt-tabs__container .wt-tabs__container-item{
		color:  #222 !important;
	}
	// 自定义模块详情页
	
	.diy_detail .view{
		
		margin-top: 5px !important;
		display: flex;
	}
	
.diy_detail .view .diy_title{
	color: $one !important;
	margin-right: 0px!important;
	width: 100px;
	font-size: 16px !important;
}
.diy_detail .view .diy_title::after{
	content: '：';
}
.diy_detail .view .diy_field{
	color: #2e3632 !important;
	font-size: 13px !important;
		
}
.diy_detail .view .diy_img{
	width: 100%;
	height: 200px;
}
.diy_detail .view .diy_img img{
	width: 100%;
	height: 100%;
}
.diy_detail .time_type{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.diy_detail  .container-fluid .col{
	
	// background-color: #F1F1F1;
   color: #015249 !important;
	margin-top: 5px;
	padding-top: 10px !important;
}
.diy_detail.diy_detail--new .container-fluid-comment--new .btn{
	background-color: $tow  !important;
}

.diy_detail .time_type{
	color: #222;
	justify-content: flex-start;
}
.diy_detail .time_type > span{
	margin-right: 10px;
}
.diy_detail .time_type > span::after{
	content: ':';
	
}
.btn_publish{
	background-color:#ff4c3b !important;
}
#comment_edit .btn_publish{
	    width: 150px;
	    margin: 10px auto !important;
		border-radius: 0px !important;
}

.diy_edit .uni-select__input-box{      
	// background-color: #f4f5eb !important;
	width: 100% !important;
	}
	.diy_edit .row-item{
		background-color: #fff !important;
		padding: 5px;
		border-bottom: 1px solid #F1F1F1;
	}
 .diy_edit .row-item .illustration{
	 margin-bottom: 20px;
	 top: 0px;
 }
 .diy_edit .btn_submit{
	background-color: $tow !important;
	width: 120px;
	color: #fff;
	margin-bottom: 10px;
 }
 .diy_edit .diy_title {
	 width: 70px;
 }

// 论坛页面列表
// 发布按钮
 .page_forum .change .button{
	 background-color:#ff4c3b !important;
 }
 .page_forum  .list .item{
	// background-image:url("/static/img/cart.png")  !important;
	// background-size: 100% 100% !important;
	// padding: 20px !important; 
 }
 // 论坛详情页
#forum_details .div_forum  .title{
	color: #222;
}



#forum_details .aside .time{
	// color: #015249;
}
#forum_details .tag{
	// background-color:  #015249 !important;
	// color: #FFF;
}
// 描述
#forum_details .desc::after{
	content: ':';
}
#forum_details .div_forum  .praise,
#forum_details .div_forum .collect
{
	 // background-color: $one !important;
	 // color: #FFF;
}
#forum_details  .link{
	background-color: #ff4c3b !important;
	color: #fff;
	width: 60% !important;
	margin: 4px auto;
} 
#forum_details   .comment_box .link{
	background-color: #fff !important;
	color: #222;
}
// 论坛添加页
 .pages-forum-view{
	 	// background-color: #77c9d4 !important;
 }
 .pages-forum-view .uni-forms-item{
	 // background-image:url("/static/img/edit.png")  !important;
	 // background-size: 100% 100% !important;
	 // padding: 10px !important; 
 }
 
 
// 我的

#user_index .top_user .avatar{
	position: relative;
	top: -11px;
	margin-left: 64px;
}
#user_index .list_my{
	// background-color:$one;
	// border-right: 1px solid #fff;
}

#user_index .list_my .my_nav .name{
	color: $one;
}

 #user_index .list_module{
	 background-color: #caebe542;
	  padding-top: 17px;
 }
 #user_index .list_module .my_module{
	// text-align: center;
 }
 // 基本信息
 #user_info .item_info{
	
 }
 // 修改密码
 #user_password{
	
 } 
 #user_password .button{
	
	  }
	  
#user_info .item_info .uni-icons{
	
}
// 收货地址
#user_address .address_card{
	
}
// 默认按钮
#user_address .tag_default{
	background-color:#ff4c3b  !important;
	 color: #fff;
	 border: none !important;
}


// 新建收货地址
#user_address_edit .header{
	// background-color:#77c9d4 !important;
	// color: #fff !important; 
}
#user_address_edit .name,
#user_address_edit .phone,
#user_address_edit .address{
	// background-image:url("/static/img/edit.png")  !important;
	// background-size: 100% 100% !important; 
	// padding: 30px;
}
#user_address_edit .btn_save{
	background-color: #37a98b !important;
	color: #fff!important; 
}

.btn_del::after {
	border: none !important;
}
.top_comment .title {
	font-size: 14px !important;
}
// 退出按钮
.page_user--new .btn_logout, .page_user--new .btn_login{
	    background: #fff !important;
	    color: $one !important;
	    border: 1px solid  $one !important;
}

/*我的列表页 */
   .diy_table .warp .container {
     display: flex;
     align-self: center;
     flex-direction:row;
     flex-wrap: wrap;
	 margin-top: 10px;
	 width: 100% !important;
	 align-content: center;
   }
   .diy_table.diy_table_tml .box_style{
	   // width: 100% !important;
	   // margin-left: 64px;
   } 
   
   
   // 添加修改按钮
   .diy_table_tml .container .table_padding_bottom .btn_right{
		float: none;
		display: block;
		margin-left: 20px !important;
		margin-right: 20px !important;
		margin-top: 13px;
   }
   
   
   // 商城用户列表“详情”按钮上面的“删除”按钮
    .diy_table .delete_a_btn{   
   	   line-height: 20px;
   	       text-align: center;
   	       width: 177px;
   	       font-size: 12px;
   	       height: 20px;
   	       /* display: flex; */
		   margin-right: 1px;
		   margin-top: 5px;
   	    color: $one !important;
		border: 1px solid $one;
   }
   .diy_table_tml .container{
	  //  background:#77c9d4 !important;
	  //    background-size: 100% 100% !important; 
		 // padding-top: 10px;
   }
   .diy_table_tml .warp .container {
	   // background:#F1F1F1 !important;
	   
   }
   .diy_table_tml .container .row{
	   display: flex !important;
   	 border: 1px solid  #F1F1F1;
	width:calc(43% - 10rpx);
     min-width: 45%;
	display: inline-block;
	font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
	border-radius: 8px;
	margin:10px auto;
	justify-content: center;
	font-size: 14px;
	}
	
	// 定制商品图片移到第一位
	.diy_table_tml .container .row >view:nth-child(3){
		order: -1;
	}
		
   .diy_table .col {
     padding: 5px 0;
   }
   .diy_table .uni-common-mt .btn {
     display: inline-block;
     width: 100%;
     text-align: center;
   	 background-color: $one !important;
   }
   .diy_table .warp .container .diy_img img {
     width: 100%;
     height: 216px;
     padding: 5px 0;
   }
   .diy_list .warp .container{
	   width: 100% !important;
   }
  // 编辑页
   .diy_view.container{
   	// background-color: #77c9d4 !important;
   }
   .diy_table .uni-common-mt {
     width: 100%;
   }
   
   .diy_table .uni-common-mt .btn {
     font-size: 14px;
     color: #fff;
     background: #3885cc;
     line-height: 2;
     margin-bottom: 8px;
     display: inline-block;
     width: 100%;
     text-align: center;
   }
   .uni-forms-item{
 //   	min-height: 36px;
 //   	line-height: 36px;
	// background-image:url("/static/img/edit.png")  !important;
	// background-size: 100% 100% !important; 
	// padding: 10px !important;
	 background: #fff;
   }
   .diy_view .uni-forms-item__label{
	   width: 100px !important;
   }
   .diy_table .diy_text {
     padding-left: 0px !important;
     color: #3885cc;
     text-decoration: dashed;
   }
   
   .diy_table .container {
	// width: 420px;
     padding: 8px 0s;
   }
   .diy_table.delete_btn {
     display: inline-block;
     padding-left: 8px;
     color: #3885cc;
     text-decoration: underline;
   }
   
	.diy_table .uni-forms {
		overflow: visible!important;
	}

	.diy_view .uni-forms {
		overflow: visible!important;
	}

.diy_edit uni-image > img {
		position: relative !important;
	}

.diy_table_tml .container .row .col .view{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.diy_table_tml .container .row .col .view .diy_title{
	white-space: nowrap;
}
.diy_table_tml .container .row .col .view .diy_text{
	margin-left: 0;
	color:#706c6c;
	white-space: nowrap;
}
.diy_table_tml .container .row .col .view .diy_text span{
	text-overflow: ellipsis;
	    overflow: hidden;
	    max-width: 162px;
	    display: block;
}
.diy_table_tml .container .row .col .view .diy_img{
	width: 98%;
	
}


.div_list_tml .warp .container .row .col .view {
	display: flex;
	flex-direction: row;
	    flex-wrap: wrap;
}
.div_list_tml .warp .container .row .col .view .diy_datetime{
	
	font-size: 15px;
}
.div_list_tml .warp .container .row .col .view .diy_title{
	margin-right: 10px;
}

.div_list_tml .warp .container .row .col .view .diy_text{
	padding-left: 0;
	color: #333;
	font-size: 14px;
	    max-width: 162px;
	    white-space: nowrap;
}
.div_list_tml .warp .container .row .col .view .diy_text span{
	text-overflow: ellipsis;
	    overflow: hidden;
	    max-width: 162px;
	    display: block;
		
}
.confirm-btn{	
	// background-color: $tow !important;
	background: linear-gradient(to right, $one, $tow) !important;
	border-radius: 0px;
}
.uni-body .uni-app--maxwidth uni-page uni-page-wrapper uni-page-body #customized_goods_list .warp .container .row{
	justify-content:space-around;
}

.uni-stat__actived{
	// padding-right: 15px;
}

.uni-select__selector{
	z-index: 9999 !important;
}

#home .uni-card .title{
	font-size: 14px;
	color: #222;
}
#home .uni-card .diy_field {
font-size: 24rpx;	
color: #333;
}
.diy_list_page .box_style .diy_title{
	font-size: 24rpx;
	color: #222;
}
.diy_list_page .box_style .diy_field {
font-size: 22rpx;	
color: #333;
}
.diy_list_page .box_style .diy_img{
	width: 100%;
}

.diy_view .form_button .primary_btn{
	background-color:  $tow !important;
	}
	.diy_list .warp {
		flex-direction: column;
	}
	
	.diy_list .warp .tab-wrapper{
		width: 100%;
		border-right: 1px solid #eee;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
	.diy_list .warp .tab-wrapper .wt-tabs__container-item{
		width: 33%;
		font-size: 14px;
		    border: 1px solid #eee;
		    margin-right: 2px;
		    margin: 2px auto;
	}
#notice_list .uni-list{
	// display: flex;
	// flex-direction: row;
	// flex-wrap: wrap;
	// background-color:#f1f1f1 ;
}
.diy_edit .diy_field .diy_img{
	width: 100%;
  } 
  #notice_list .uni-list-item{
	  // margin: 20px 20px 10px 20px;
  }
  .diy_title{
	min-width: 56px;
   }
   .row-item{
	min-width: 350px !important;
   }
  
   .list .item .right_block{
	min-width: 254px;
   }
   .uni-forms-item__label{
	min-width: 70px !important;
	background: #e4f8f4  !important;
	margin-right: 0px !important;
	border-radius: 5px;
	justify-content: center !important;
	
}

 html{
	font-size: 16px !important;
   }
   
   .diy_text_row{
	   width: 100%;
   }
   .diy_title text{
	 
	   display: inline-block;
   }
   .diy_edit .btn_box{
	   margin-left: 109px;
   }
   .diy_title.diy_text_row{
	   width:80px;
   }
   // 测试列表页
.table--border{
	margin-top: 5px;
}
.table--border .uni-table-tr{
	// background-color:#b2d5c6 !important ;
	
}
.seat-wrapper{
	width:100% !important;
}
.diy_select_flex{
	padding-left: 0rem !important;
}
.diy_button{
	width: 30% ;
}
.table--border .uni-table-tr .uni-table-td{
	// color: #fff;
}  
.page_exam{
	font-size: 14px;
}
// 答题按钮
#exam_list .table--border .answer_link{
	background-color: $tow;
	color: #fff;
	width: 40px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	border-radius: 2px;
} 
// 答题详情页
#exam_details {
	// background-color: #b2d5c6;
	// font-size: 14px;
}
#exam_details .uni-list-cell{
	width: 100%;
	display: inline-block;
	margin-bottom: 0.625rem;
}
#exam_details  .answer_btn_box{
	padding-left:90px ;
}
#exam_details .answer_btn_submit{
	background-color: #ff4c3b;
}
.uni-icons {
	left:-20px;
}
  .Authorization-page{   	width: 100%;       display: flex;       justify-content: center;            top: 160px;    }      .Author{   	border-radius: 50%;   	margin: 10rpx;   }   .Author uni-button::after{   	border: none ;   }      .Authorization-page .Author .Author-qier{   	background: url('/static/img/qe.png') no-repeat;   	background-size: auto;       height: inherit;       background-position-x: 10px;       background-position-y: 11px;   	   }   .Authorization-page .Author .Author-weixin{   	background: url('/static/img/weixin.png') no-repeat;   	background-size: auto;       height: inherit;       background-position-x: 10px;       background-position-y: 11px;   }   .Authorization-page .Author .Author-weibo{   	background: url('/static/img/weibo.png') no-repeat;   	background-size: auto;       height: inherit;       background-position-x: 10px;       background-position-y: 11px;   	   }   .aut-box .btn-n-box .btn,.uni-popup__wrapper-box .btn{   	background-color:#51a6ff!important;   }   .aut-box .aut-h{   	background-color:  #77c9d4 !important;   }   .aut-box .img-box{	     }   .aut-box .texts{	  background-color: #b2d5c6 !important;     }
   .ip1 {
	   background-color: #fff;
	   border: 1px solid #F1F1F1;
   }
   .bt1{
	  	background-color:#51a6ff!important;
   }
   // 友情连接
   .list_link  .img{
	   height: 50px !important;
	   width: 100px !important;
   }
     .list_link{
		 margin-bottom: 0.625rem;
	 }
	 #message_list .button{
		background-color:$tow;
		 width: 120px;
		 height: 40px;
		 line-height:40px;
		 margin: 10px auto;
		 text-align: center;
		 color: #fff;
	 }
.list_message{
	width: 95%;
	margin-left: 10px;
	

	
}
.item_message {
	border: 0.0625rem solid #eee;
	margin:10px auto ;
		padding: 5px 15px;
}
.item_message .title{
	font-size: 19px;
	margin-bottom: 10px;
}
.item_message .user_info{
	display: flex;
	    justify-content: space-between;
		border-bottom: 0.0625rem dashed #eee;
		margin-bottom: 10px;
}
.item_message .time{
	font-size: 14px;
}
.item_message .content{
	font-size: 1.0625rem;
}
#user_password .button{

	background-color:  #ff4c3b;
	width: 150px;
	color: #fff;
}
.btn_right{
	background:linear-gradient(to right,$one,$tow);
	// width: 150px;
	color: #fff !important;
}
.nav_left{
	background-color: #7c7f7e !important;
}
.diy_view .uni-forms-item{
	background-color: #fff !important;
}
#exam_list .change{
	flex-direction: column;
}
#exam_list .change .button{
	width: 30% !important;
}

.top_user{
	background-size: 0% !important;
}

.input-item input{
	height:50px !important;
	line-height: 50px !important;
}
#forum_view .form_button button{
	background-color:  #ff4c3b !important;
}
.diy_list .warp .tab-wrapper .wt-tabs{
	width: 100%;
	    border-right: 1px solid #eee;
	    display: flex;
	    flex-direction: row;
	    flex-wrap: wrap;
}
.diy_list .warp .tab-wrapper .wt-tabs__container-item{
		width: 33%;
		font-size: 14px;
		    border: 1px solid #eee;
		    margin-right: 2px;
		    margin: 2px auto;
	}
	
	.my_module text{
		font-size: 0.9rem !important;
	}
	#forum_table .uni-table-td button{
		// display: flex;
		// flex-direction: column;
		 border: 1px solid #eee;
		 width: 70px;
		 height: 30px;
		 line-height: 30px;
		 margin-left: 20px !important;
		 color: #222 !important;
		 margin: 5px auto !important;
		 font-size: 14px !important;
	}
	.list .item .right_block{
		min-width: 70% !important;
		
	}
	.list_com--new .view .text span,.list_com--new .view .text ._span{
		max-width: 155px !important;
	}
	
	uni-navigator{
		color: #111;	
	}	
	
	.register-section .text{
		color: $one !important;
	}
	
	#account_register .row{
		position: relative;
		margin-top: 80px;
	}
	
#account_register .row::before {
    content: '注册页';
    width: 90%;
    color: #46d498  !important;
    font-size: 45px !important;
    position: absolute;
    top: -84px;
    left: 116px !important;
}
	
	
	.icon-zuojiantou-up:before{
		display: none;
	}
	
	
	
	.container.forgot_account .left-top-sign {
	    
	    color: $one !important;
		// 修饰下
	    // border-bottom: 2px solid $one;
	    font-size: 50px !important;
	    position: absolute;	
	    top: -85px;
	    left: 104px !important;
	}
	
	
	
	.register-section .text{
		color: $one !important;
	}
	
	// 按钮
	button[type=primary]{
		background-color: $one  !important;	
	}
	
	.top_user .avatar{
		height: 4rem !important;
		width: 4rem !important;
		border: 7px solid #fff;
		border-radius: 17rem !important;
	}
	
	.img-box[data-v-a9cd2b76]{
		background-color: #b2d5c6;
	}
	
	.btn-n-box .temporarily-author[data-v-a9cd2b76]{
		border-radius: 30px;
	}
	
	
	.aut-box .btn-n-box .btn, .uni-popup__wrapper-box .btn{
		background-color: #b2d5c6 !important;
	}
	
	.btn-n-box .de-author[data-v-a9cd2b76]{
		border-radius: 27px;
	}
	
	.aut-box .texts{
		    /* width: 80%; */
		    border-bottom: 1px solid #b2d5c6;
		    background-color: #ffffff !important;
	}
	
	.top_user{
		height: 111px;
	    flex-direction: row !important;
	    justify-content: center !important;
		margin-bottom: 0px !important;
		align-items: flex-start !important;
		background-color: #46d498 !important;
	}
	
	// uni-开头是uniapp独有的，把前缀去掉不影响
	.top_user text:nth-child(1){
		font-size: 1.2rem !important;
	}
	
	.top_user text:nth-child(2){
		display: inline-block;
		height: 0.8rem !important;
		font-size: 0.8rem !important;
	}
	
	.list_my{
		background-color: #fff !important;
	}
	
	.my_module div{
		border-bottom: 0px solid #ccc !important;
	}
	
	// admin文字
.top_user .name {
    text-align: center;
    display: block !important;
    position: relative;
    top: 51px;
    left: -60px;
    color: #46d498;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 29px;
    margin-left: -28px;
    background-color: #fff;
    width: 96px;
    border-radius: 33px;
}
	
	.my_module text{
		position: relative;
		
	}
	
	.my_module text::before{
		top: 0px;
		left: 300px;
		position: absolute;
		display: inline-block;
		content: '';
		width: 14px;
		height: 14px;	
		background-image: url("/static/img/gneduo.png");
		// background-color: red !important;
	}
	
	
	#article_details .link{
	    text-align: center;
	    padding: 0.5rem 0;
	    border: 1px solid $one;
	    border-radius: 0.5rem;
	    color: $one;
	}
	
	
	.uni-border-bottom::after{
		border-bottom: 1px solid $one !important;
	}
	
	
	.div_article .doc{
	    justify-content: flex-end !important;
	}
	
	.div_article .left_block>view{
		border: 1px solid #c7dfda;
		// background-color: $one;
	}
	
	.aside{
	    position: relative;
	    right: -280px;
	   border: 0px !important;
	}
	
	
	
	// 交流论坛  .page_forum 
	.page_forum .change{
		    flex-direction: column-reverse !important;
		    align-items: flex-start !important;
	}
	
	.page_forum .change .button{
		width: 96% !important;
		color: $one !important;
		border: 1px solid $one;
		background-color: #fff !important;
		margin-bottom: 50px !important;
	}
	
	.page_forum .uni-stat__select{
	    padding-left: 10px;
	    display: flex;
	    cursor: pointer;
	    width: 196% !important;
	    flex: 1;
	    box-sizing: border-box;
	}
	
	#forum_view .form_button button{
		background-color: $one !important;
	}
	
	.list .item{
		margin-top: 20px;
		// background-color: #9ce6c633;
		flex-direction: column-reverse !important;
	}
	
	#forum_details .div_forum .title{
		text-align:center !important; 
	}
	
	.aside{
		text-align: right;
	}
	
	.page_forum .desc {
	    padding: 8px;
	    border-left: 5px solid $one;
	}
	
	.div_forum .tag_block{
		margin-top: 20px;
		padding: 8px;
		border-left: 5px solid $one;
		
	}
	
	.div_forum .doc{
		    display: flex;
		    align-items: flex-end !important;
		    color: #777;
		    padding-top: 0.5rem;
		    flex-direction: column !important;
	}
	
	
	.div_forum .see{
		margin-top: 10px;
	}
	
	.div_forum .left_block >view{
		background-color:$three;
	}
	
	
	#forum_details .link{
		background-color: #fff !important;
		color: $one !important;
	}
	
	
	// 内容
	.page_forum .rich_text{
		// font-size: 1em !important;
	}
	
	// 购物车
	.page_cart  .btn_settle{
		background-color:  $one !important;
	}
	
	.page_cart .sum{
		color:  $one !important;
	}
	
	
	
	#forum_details .div_forum .rich_text{
		text-align: center;
		font-size: 16px !important;
	}
	
	// 选中h1  但小程序无法生效
	#forum_details .div_forum .rich_text h1{
		font-size: 16px !important;
	}
	
	
	
	.home--new .menu_list{
		// justify-content: flex-start !important;
	}
	
	// 小轮播
	.home--new .uni-noticebar{
		// display: none !important;
		background-color: $four !important;
		text{
			color: $tow !important;
		}
		
	}
	
	.home--new .uni-noticebar__content-text{
		color: black !important;
	}
	
	
	// 定制商品推荐
	
	#home .box_style{
			display: flex !important;
			flex-direction: column;
	}
	
	
	// 取消图片
	// #home .box_style .view:nth-child(3){
	// 	order: -1;
	// }
	
	// 文字排列
	#home .list_com--new .view{
		flex-direction: row !important;
		justify-content: center;
	}
	
// 我
#user_address .tag .tag_default.show{
	background-color: $one !important;
}

#user_address  .btn_address{
	background-color: $one !important;
}

// 三点
#user_address .btn_show button::after{
	// background-color: red !important;
	width: 100%;
	height: 100%;
	top: 12px;
	left: 20px;
}

#user_address .bar_btn{
	display: block;
}

#user_address .bar_btn button{
	margin-bottom: 10px !important;
}

.wt-tabs__container-item.selected{
	    border: 1px solid $one !important;
	    color: $one !important;
}
 
 
 #mall_users_table{
	 margin-top: 10px;
 }
 
 .btn_right{
	background-color: $one !important;
}

 .table_padding_top .nav_left{
	float: none !important;
	display: block;
	width: 90% !important;
	// margin: 5px auto !important;
	margin-left: 5%;
	text-align: center;
	background:linear-gradient(to right,$one,$tow);
}


//首页图书
.hot_selling_books_block{
	// background-color: red;
	display: flex;
	flex-direction: column;
}

// 每一项
 #home .uni-card .hot_selling_books_block .item_hot_selling_books{
	display: flex !important;
	flex-direction: column;
	width: 100%;
	max-width: 100%;
	align-items: center;
}

// 装图片的盒子
.item_hot_selling_books .view:nth-child(2){
	width: 80% !important;
	height: 187px !important;
	order: -1;
}


// 每一项的所有内容
 #home .uni-card .hot_selling_books_block .item_hot_selling_books  .view{
	 width: auto;
 }

// 图片大小
 #home .uni-card .hot_selling_books_block .item_hot_selling_books .diy_field.image{
		height: 100%;
 }

#home .list_link{
	display: none;
}

#home .copyright{
	display: none;
}


// 图书内部
.diy_detail--new .view{
	border-bottom: 0px !important;
}	
	
// 定制商品图片
.diy_img{
	height: 240px;
	width: 161px !important;
}
	
// 图书项
.diy_detail--new  .row view:nth-child(3){
	order: -1;
	margin-right: 100px;
	// 封面图片大小
	// 下划线
	view .diy_img{
		padding-bottom: 5px;
		border-bottom: 3px solid $tow;
		height: 240px;
		width: 200px !important;
	}
	
}

// 阅读全文
.diy_detail--new .warp .row .bar_title{
	border-top: 1px solid $tow;
	border-radius: 5px !important;
	width: 90%;
	margin: 0 auto;
	background-color: $tow !important;
	margin-bottom: 30px;
}

// 隐藏点赞数
.diy_detail--new .warp >.row .view{
	background-color: red;
	display: none;
}

.diy_detail--new .bar_title{
	border-radius: 0% !important;
	border-top: 3px dotted  $tow;
	background-color: #fff !important;
	text{
		color: #fff;
	}
}

// 三个按钮
.diy_detail--new  .container-fluid-comment--new .col{
	justify-content: center !important;
}

	
	// 网站公告
	// 内容区域
	// #home .list_website_announcement.list_com--new .website_announcement_block{
	// 	justify-content: space-around;
	// 	// flex-direction: column;
	// 	//嵌套
	// 		// 每一小项
	// 	.item_website_announcement{
	// 		width: auto !important;
	// 		max-width: 100% !important;
	// 		// 每一项文字
	// 		view{
	// 			justify-content: center;
	// 		}
			
	// 		// 选择第一项
	// 		>view:nth-child(1){
	// 			// border-bottom: #08b185 1px solid;
				
	// 			// 文字
	// 			view{
	// 				font-size: 17px !important;
	// 				font-weight: 600 !important;
	// 				color: $one !important;
	// 			}
	// 		}
			
			
	// 		view:nth-child(3){
	// 			display: none;
	// 		}
			
			
	// 		// 点赞数
	// 		.bottom-view{
	// 			text-align: center;
	// 			color: $one;
	// 		}
	// 	}
	// }
	
	
	
	// 细节
	#website_announcement_details{
		.bar_title.comment_title{
			background-color: $tow !important;
		}
		
		.warp{
			>view:nth-child(2){
				display: flex;
				flex-direction: row;
				flex-wrap: nowrap;
				justify-content: flex-end;
				view{
					// width: 24px !important; 
					// background-color: red;
					flex-basis:20% !important;
					span{
						color: #08b185;
					}
					
					label{
						color: #08b185;
					}
				}
			}
		}
	}
	
	
	
	// 产品详情 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 .page_goods .price_wrap{
		     position: absolute;
		     top: -2.2rem;
		     right: 0px !important;
		     padding: 0.2rem 0.4rem;
		     margin: 0.5rem 0;
		     background-color: $tow !important;
			
	 }
	
	 .page_goods .title{
			text-align: center !important;
		}
	
	 .page_goods .uni-label-pointer{
		 color: $tow;
	 }
	 
		 
		 //产品详情
	 .page_goods .container navigator button{
		 margin-bottom: 20px;
		 color: #ffffff;
		 width: 129px;
		 margin-left: 284px;
		 background-color: #46d498;
	 }
	 
	 
	 .page_goods{
		 .bar_title{
			 // border: $tow 2px dotted;
			 margin-bottom: 20px !important;
				height: 38px;
			 text{
				 color: $tow;
			 }
		 }
	 }


	// 首页功能细节
	
.diy_list .btn-primary {
    background-color: $tow !important;
    color: #fff !important;
	
}

// 跟底部播放器隔开
 .diy_list .container{
	 margin-bottom: 50px !important;
 }
 
.diy_list .diy_dj{
	display: none !important;
}

.diy_list .music_player{
	background-color: #dff6f0 !important; 
}

// 隐藏时间
.diy_list .diy_time{
	display: none;
}

.diy_list .diy_datetime{
	font-size: 13px !important;
	text{
		margin-left: 35px;
	}
}

.diy_list .bottom-view{
	margin-left: 19px;
	color: #08b185 !important;
	padding: 5px;
}

.row.box_style{
	border: 1px solid #aad9cd8c !important;
	margin-bottom: 20px;
	view{
		flex-direction: row !important;
	}
}

// 我的

.diy_table .bottom-view{
	margin-left: 31px;
}

// 定制列表的时间
.diy_table .create_time_block{
	margin-top: 5px;
	margin-left: 0px;
	color: $one !important;
}

#forum_table .uni-table-td uni-button{
	background-color: $one ;
	color: #fff !important;
}

.answer_btn_submit{
	background-color: #6ed6bb;
	color: #fff !important;
}


.change button{
	background-color: $one;
	color: #fff !important;
}

.praise-title,.hits-title{
	color:$one;
}


.goods-type.selected{
	   border: 1px solid $one !important;
	   background-color:#fff !important;
	   color:  $one !important; 
}

.btn_refund{
	border: 1px solid $one;
	background-color:#fff !important;
	color:  $one !important; 
}

#order_details .state{
	border: 1px solid $one;
	background-color:#fff !important;
	color:  $one !important; 
}

	

.list_cart .btn_del{
	border: 1px solid $one;
	background-color:#fff !important;
	color:  $one !important; 
	position: relative;
	top: -53px;
	
}

// 新建收货地址按钮
#user_address .btn_address{
	border: 1px solid $one;
	background-color:#fff !important;
	color:  $one !important; 
	
}

// 收藏
.item_collect .btn_del{
	border: 1px solid $one;
	background-color:#fff !important;
	color:  $one !important; 
	
}

// 垃圾桶
.uniui-trash:before{
	color:  $one !important;
}

.warp .container .text{
	color: $six important;
}


.bottom-view {
	margin-top: 20px;
}

.diy_datetime{
	color: $six !important;
}

.menu{
	color: #eaedfe;
}

#home .menu_list{
	background-color: #fff !important;
}


// 首页背景
.home--new{
	background-color: #eeeeeee3;
}


.uni-card__header{
	text-align: center;
	background-color: $three;
	background: linear-gradient(to right,$one,$tow);
}

// 推荐文章
.uni-card__header-title-text{
	font-size: 18px;
	font-weight: 600;
	color: #fff !important;
}

.diy_detail .container-fluid .row{ 
	// background-color: red;
	display: flex;
	flex-direction: row !important;
	>view{
		flex-basis:50% !important;
	}
	
	>view:nth-child(4){
		order: -3;
	}
}
// 其他welcome不显示
.welcome{
	display: none;
}

.forgot_account .welcome{
	display: inline-block;
	color: #46d498 !important;
	    position: absolute !important;
	    left: 141px !important;
	    top: -51px !important;
	    font-size: 30px !important;
	    color: #555;
	    text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.3);
}

.list_orderby{
	position:absolute;
	right: 1px;
}

 #home .article_list .item{
	 display: flex;
	 flex-direction: row;
 }
 
 .list .item .right_block{
	 align-items: flex-start;
 }
 
 .uni-card__content--pd .list .item .right_block .bottom_info{
	 font-size: 13px !important;
	 // margin-left: 242px;
	 color: $tow !important;
 }
 
 
 #home .uni-card .item .mid_info{
	 color: $tow;
 }
 
 
.list_com--new .box_wrap{
	flex-direction: column;
	flex-wrap: wrap !important;
	align-items: center;
	background-color: #caebe5;
	
	.box_style{
		display: flex !important;
		width: 88% !important;
		max-width: 100% !important;
		align-items: center !important;
	}
  }
  
  .list.row{
	  justify-content: center;
  }
  
  .list.row .item{
	  flex-direction: column;
	  align-items: center;
	  border-bottom: 1px solid #ccc;
	  .image{
	  		  margin-right: 0px;
	  		  width: 176px !important;
	  		  margin-right: 0px !important;
	  }
	  .right_block {
		  width: 100%;
		  align-items: center;
		  .top_info{
			  font-size: 1rem !important;
		  }
		  .mid_info{
			  font-size: 0.8rem !important;
		  }
		  .bottom_info{
			  font-size: 0.8rem !important;
		  }
				
	  }
	 
  }
  
  .article_list .uni-card__content--pd .list .item .right_block .bottom_info{
	  margin-left: 147px;
  }
  
  .list_com--new .view .image{
      width: 80% !important;
	height: 166px !important;
  }
  
.page_user--new .item_my{
	flex-basis: 33% !important;
	padding: 23px 0px;
}


.little_goodspic_act{
		border: 1px solid $one !important;
}


// 小程序首部
.uni-page-head{
	background-color: #46d498 !important;
}

.list_cart .cart_body{
	flex-direction: column !important;
}



.uni-input-input{
	
	// border-bottom: 1px solid #46d498;
	
}

.my_module text{
	border-left: 3px solid $one;
	padding-left: 8px;
}	

.list_goods{
	background-color: #cbebe680;
	flex-direction: column;
	align-items: center;
}

.list_goods .goods_item{
	width: 71% !important;
	border-bottom: 1px solid $one;
	 position: relative;
	            background-color: #fff;
				z-index:10;
	            box-shadow: -0.5rem .5rem 1rem rgba(0, 0, 0, 0.3);
	            margin: 5rem;
				top: -20px;
				left: -30px;
				margin-bottom: 0rem;
}

.list_goods .goods_item::before{
	transform: rotate(-2deg);
	            z-index: -1;
				
}

        .list_goods .goods_item:before, .list_goods .goods_item:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    box-shadow: -0.5rem .5rem 1rem rgba(0,0,0,0.1);
}

.list_goods .goods_item:after {
    transform: rotate(7deg);
    z-index: -2;
}




.uni-tabbar-bottom .uni-tabbar{
	background-color: #caebe5 !important;
}

.description{
	text-align: center;
}


#account_register .mm_container{
	padding-bottom: 227px !important;
	background-color: #bdede469 !important;
	background-image: url("https://pic2.zhimg.com/v2-b2442a5f5f5ba5ac3ff090f81748af73_r.jpg") !important;
	background-size: 100%;
	
}

.is-input-border{
	border-radius: 4px;
	
}
#account_register .col-12{
	background-color: #e4f8f4 ;
	height: 38px !important;
}
.diy_view .seat-wrapper{
	height:200px !important;
}
.diy_view .seat-wrapper .illustration{
	left: -8px;
}
.diy_view .seat-wrapper .btn-buy{
	font-size: 13px !important;
	height: 23px !important;
	line-height: 23px !important;
}